<div class="dashboard__container">
   <div class="dashboard__left_container">

      <% if Current.usuario.iscliente %>
         <p class="dashboard__title">
            Horários agendados
         </p>
         <span class="dashboard__subtitle">
         <% if Date.today == @data %>
            Hoje
         <% else %>
            Data
         <% end %>
         | <%= @data.strftime("%d/%m/%Y") %>
         </span>

         <p class="dashboard__proximo_agendamento">
            Agendamento seguinte
         </p>
         
         <% if !@proximo_agendamento.present? %>
            <p class="dashboard__sem_agendamento">
               Você não tem nenhum agendamento futuro neste dia
            </p>
         <% else %>
            <div>
               <%= render 'cartao_agendamento', agendamento: @proximo_agendamento, primeiro: true %>
            </div>

            <div>

             <p class="dashboard__proximo_agendamento proximos">
               Próximos agendamentos
            </p>
               <% if @agendamentos_dia.empty? %>
                  <p class="dashboard__sem_agendamento proximos">
                     Você não tem próximos agendamentos neste dia
                  </p>
               <% else %>
                  <% @agendamentos_dia.each do |agendamento| %>
                     <%= render 'cartao_agendamento', agendamento: agendamento, primeiro: false %>
                  <% end %> 
               <% end %>
            </div>
         <% end %> 
      <% end %>
   </div>
   <div class="dashboard__right_container">
      <%= render 'calendario/layout/show', agendamentos: @agendamentos, datas_agendamentos: @datas_agendamentos %>
   </div>
</div>
