<div class="container">
    <div class="background"></div>
    <div class="content">
        <%= image_tag "logo.png", :class=>"content__logo" %>
        <%= render 'formulario' %>
        <%= link_to "Criar conta", cadastro_path, :class => "content__link"  %>
    </div>
</div>
