<div id="<%= dom_id contato %>">
  <p>
    <strong>Nome:</strong>
    <%= contato.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contato.email %>
  </p>

  <p>
    <strong>Mensagem:</strong>
    <%= contato.mensagem %>
  </p>

</div>
