<p>
  <strong>nome Cliente:</strong>
  <%= @agendamento.idCliente %>
</p>

<p>
  <strong>nome barbeiro:</strong>
  <%= @agendamento.idBarbeiro %>
</p>

<p>
  <strong>servico agendado:</strong>
  <%= @agendamento.idServico %>
</p>

<p>
  <strong>data agendada:</strong>
  <%= @agendamento.dataAgendamento %>
</p>