<p>
  <strong>nome Cliente:</strong>
  <%= @agendamento.idCliente %>
</p>

<p>
  <strong>nome barbeiro:</strong>
  <%= @barbeiro.nome %>
</p>

<p>
  <strong>data agendada:</strong>
  <%= @agendamento.dataAgendamento %>
</p>