<p>
  <strong>nome Cliente:</strong>
  <%= @agendamento.nomeCliente %>
</p>

<p>
  <strong>nome barbeiro:</strong>
  <%= @agendamento.nomeBarbeiro %>
</p>

<p>
  <strong>servico agendado:</strong>
  <%= @agendamento.nomeServico %>
</p>

<p>
  <strong>data agendada:</strong>
  <%= @agendamento.dataAgendada %>
</p>