<p>
  <strong>nome Cliente:</strong>
  <%= @agendamento.cliente_id %>
</p>

<p>
  <strong>nome barbeiro:</strong>
  <%= @barbeiro.nome %>
</p>

<p>
  <strong>data agendada:</strong>
  <%= @agendamento.dataAgendamento %>
</p>

<p>Agendamento realizado com sucesso!</p>

<%= link_to "Voltar", "/usuarios/#{session[:idUsuario]}" %></li>
