<p>
  <strong>Cliente:</strong>
  <%= @agendamento.cliente.nome %>
</p>

<p>
  <strong>Barbeiro:</strong>
  <%= @barbeiro.nome %>
</p>

<p>
  <strong>Data agendada:</strong>
  <%= @agendamento.data_agendamento.strftime("%d/%m/%Y, às %k:%M") %>
</p>

<p>Agendamento realizado com sucesso!</p>

<%= link_to "Voltar", root_path %></li>
