<div class="container">
    <div class="background"></div>
    <div class="content">
        <%= image_tag "logo.png", :class=>"content__logo" %>
        <%= render 'formulario', pagina_edicao: false %>
        <a href="login" class="content__link">&larr; Voltar para o login</a>
    </div>
</div>