<div class="container">
    <div class="background"></div>
    <div class="content">
        <%= image_tag "logo.png", :class=>"content__logo" %>
        <%= render 'formulario', pagina_edicao: false %>
        <div class="content__link">
         &larr; 
        <%= link_to 'Voltar para o login', login_path, class:"content__link" %>
        </div>
    </div>
</div>