<header>
  <div>
    <nav>
      <ul>
        <% if Current.usuario.present? %>
          <ul>
              <li><%= link_to "Meu perfil", perfil_path(Current.usuario) %></li>
              
              <% if !session[:isBarbeiro] %>
                <li><%= link_to "Minha Agenda",  "/agendamentos-barbeiro/#{Current.usuario.id}?data=#{Date.current()}" %></li>
              <% end %>

              <% if session[:isBarbeiro] %>
                <li><%= link_to 'agendar servico', agendamentos_new_path %></li>
              <% end %>
              
              <li>
                <%= button_to "Sair", logout_path, method: :delete %>
              </li>
          </ul>
        <% end %>
      </ul>
    </nav>
  </div>
</header>