<header>
  <div>
    <nav>
      <ul>
        <% if logado? %>
          <ul>
              <li><%= link_to "Meu perfil", perfil_path(usuario_atual) %></li>
              <li><%= link_to "Minha Agenda",  "/agendamentos-barbeiro/#{@usuario.id}?data=#{Date.current()}" %></li>
              <li><%= link_to 'agendar servico', agendamentos_new_path %></li>

              <li>
                <%= link_to "Sair", logout, method: "delete" %>
              </li>
          </ul>
        <% end %>
      </ul>
    </nav>
  </div>
</header>